@page "/game/{Id}"
@using KweezR.Client.HttpRepository
@inject IGameService GameService
@implements IAsyncDisposable

<div class="header">
    <h1>LOBBY</h1>
</div>

@if(Lobby is null)
{
    <p style="color: #0f0;">Loading...</p>
}
else
{
    <div class="container">
        <div class="room-details">
            <h2>Room Details</h2>
            <div class="pixel-box">
                <p>Name: @Lobby.Name</p>
                <p>Category: @Lobby.Category</p>
                <p>Questions: @Lobby.NumberOfQuestions</p>
                <p>Host: @Lobby.Players.First()</p>
                <p>Access: @Lobby.Access</p>
                <p>Max Players: @Lobby.Capacity</p>
            </div>
        </div>
        <div class="waiting-players">
            <h2>Waiting Players</h2>
            <ul>
                @foreach(var player in Lobby.Players)
                {
                    <li>@player</li>
                }
            </ul>
        </div>
    </div>
    <div class="chat-container">
        <div class="chat-history">
            @if (!Messages.Any())
            {
                <p style="color: #0f0;">No messages at this time!</p>
            }
            else
            {
                @foreach(var message in Messages)
                {
                    <div class="chat-message">@message</div>
                }
            }
        </div>
        <div class="chat-input">
            <input @bind-value = "@message" @bind-value:event="oninput" @onkeydown="@Enter" type="text" placeholder="Type your message...">
            <button @onclick = "BroadcastMessage" >Send</button>
        </div>
    </div>

}

